
.vs/codechef-solutions/FileContentIndex/3a09e6a1-a4f8-472a-9521-6da05cf3b08a.vsidx
.vs/codechef-solutions/FileContentIndex/cd300d6b-92af-4bdb-9455-ac1c5cfc075a.vsidx
.vs/codechef-solutions/FileContentIndex/e2f051f1-0d0e-40d4-9d58-aa3b5cb4e1b3.vsidx
.vs/codechef-solutions/FileContentIndex/read.lock
.vs/codechef-solutions/v17/.suo
.vs/codechef-solutions/v17/Browse.VC.db
.vs/codechef-solutions/v17/ipch/AutoPCH/ec05aebce20e8a3d/SOLUTION.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/c_cpp_properties.json
*.json
*.exe
cdf/eziejze.cpp
cdf/heauyeau.cpp
